blenderproc/
blenderproc.zip
bop_toolkit/
bop_toolkit.zip
demo-bin-picking/
test_videos/
onnx_models/
show_vis/VID_20251009_141247_vis.gif
show_vis/VID_20251009_141247.gif
show_vis/VID_20251009_141731_vis.gif
show_vis/VID_20251009_141731.gif